<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<div class="container my-4">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4  ">
    <!-- Le llamaban trinidad -->
    <div class="col">
      <div class="card h-100 shadow-sm bg-dark text-white">
        <a href="/peliculas/Le_Llamaban_Trinidad.html" style="text-decoration:none; color:inherit;">
          <img src="/image/logo/Le_Llamaban_Trinidad.jpg" class="card-img-top" alt="Lion Heart" style="height:200px;object-fit:cover;">
          <div class="card-body">
            <h5 class="card-title">Le llamaban trinidad</h5>
            <p class="card-text">Película de acción y humor protagonizada por Terrence Hill y Bud Spencer.</p>
            <span class="btn btn-primary bg-dark">Ver más</span>
          </div>
        </a>
      </div>
    </div>
    <!-- Red Heat -->
    <div class="col">
      <div class="card h-100 shadow-sm  bg-dark text-white">
        <a href="/peliculas/Red_Heat.html" style="text-decoration:none; color:inherit;">
          <img src="/image/logo/Red_Heat.jpg" class="card-img-top" alt="Red Heat" style="height:200px;object-fit:cover;">
          <div class="card-body">
            <h5 class="card-title">Red Heat</h5>
            <p class="card-text">Pelicula de comedia y acción con Arnold Schwarzenegger y James Belushi.</p>
            <span class="btn btn-primary bg-dark">Ver más</span>
          </div>
        </a>
      </div>
    </div>
    <!-- Perry Mason -->
    <div class="col">
      <div class="card h-100 shadow-sm bg-dark text-white">
        <a href="/Series/Perry_Mason.html" style="text-decoration:none; color:inherit;">
          <img src="/image/logo/Perry Mason.jpg" class="card-img-top" alt="Perry Mason" style="height:200px;object-fit:cover;">
          <div class="card-body">
            <h5 class="card-title">Perry Mason</h5>
            <p class="card-text">Serie de misterio legal con uno de los abogados más famosos de la TV.</p>
            <span class="btn btn-primary bg-dark">Ver más</span>
          </div>
        </a>
      </div>
    </div>
    <!-- Le seguian llamando trinidad -->
    <div class="col">
      <div class="card h-100 shadow-sm bg-dark text-white">
        <a href="/peliculas/Le_Seguian_Llamando_Trinidad.html" style="text-decoration:none; color:inherit;">
          <img src="/image/logo/Le_Seguian_Llamando_Trinidad.jpg" class="card-img-top" alt="Otra Película" style="height:200px;object-fit:cover;">
          <div class="card-body">
            <h5 class="card-title">Le Seguian Llamando Trinidad</h5>
            <p class="card-text">Segunda entrega de "Le Llamaban Trinidad"</p>
            <span class="btn btn-primary bg-dark">Ver más</span>
          </div>
        </a>
      </div>
    </div>
    <!-- Dos Puños Contra Rio -->
    <div class="col">
      <div class="card h-100 shadow-sm  bg-dark text-white">
        <a href="/peliculas/DosPuñosContraRio.html" style="text-decoration:none; color:inherit;">
          <img src="/image/logo/DosPuñosContraRio.webp" class="card-img-top" alt="Red Heat" style="height:200px;object-fit:cover;">
          <div class="card-body">
            <h5 class="card-title">Dos Puños Contra Rio</h5>
            <p class="card-text">Pelicula de humor protagonizada por Trence Hill y Bud Spencer.</p>
            <span class="btn btn-primary bg-dark">Ver más</span>
          </div>
        </a>
     </div>
   </div>
    <!-- Dos Locos con Suerte -->
    <div class="col">
      <div class="card h-100 shadow-sm  bg-dark text-white">
        <a href="/peliculas/Dos_Locos_con_Serte.html" style="text-decoration:none; color:inherit;">
          <img src="/image/logo/DosLocosConSuerte.jpg" class="card-img-top" alt="Red Heat" style="height:200px;object-fit:cover;">
          <div class="card-body">
            <h5 class="card-title">Dos Locos Con Suerte</h5>
            <p class="card-text">Pelicula de humor protagonizada por Trence Hill y Bud Spencer.</p>
            <span class="btn btn-primary bg-dark">Ver más</span>
          </div>
        </a>
      </div>
    </div>
    <!-- El regreso de Sherlock Holmes -->
    <div class="col">
      <div class="card h-100 shadow-sm bg-dark text-white">
        <a href="/Series/SherlockHolmes.html" style="text-decoration:none; color:inherit;">
          <img src="/image/logo/SherlockHolmes.jpeg" class="card-img-top" alt="Perry Mason" style="height:200px;object-fit:cover;">
          <div class="card-body">
            <h5 class="card-title">El regreso de Sherlock Holmes</h5>
            <p class="card-text">Serie de misterio con uno de los detectives más famosos de la literatura.</p>
            <span class="btn btn-primary bg-dark">Ver más</span>
          </div>
        </a>
      </div>
    </div>
  </div>  
   
</div>


