<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid"> <!-- Cambio de `container` a `container-fluid` para ocupar todo el ancho -->
        <img src="/image/logo/logo claro.svg" alt="Logo" height="80" class="d-inline-block align-text-top me-3">
        <a class="navbar-brand fs-4" href="#">DectPelicula</a> <!-- Tamaño del texto aumentado -->

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link fs-5" href="/index.html">Inicio</a></li>
                <li class="nav-item"><a class="nav-link fs-5" href="#">Películas</a></li>
                <li class="nav-item"><a class="nav-link fs-5" href="/Series/index.html">Series</a></li>
                <li class="nav-item"><a class="nav-link fs-5" href="#">Contacto</a></li>
            </ul>
        </div>
    </div>
</nav>